body {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: gainsboro;
  overflow: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}

.color-picker-container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.5);
  overflow: auto;
}

.color-picker {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#eleven {
  display: flex;
  gap: 10px;
}

#number-eleven {
  padding: 0px 20px;
}

#six {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
}

#one,
#two,
#three,
#four,
#five {
  height: 50px;
  width: 30px;
}

#one {
  margin-left: 50px;
}

#seven {
  width: 180px;
}

#number-eight {
  margin-left: -9px;
}

#nine,
#ten {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

#nine {
  margin-left: 20px;
  margin-right: -10px;
  margin-bottom: 5px;
  align-self: flex-end;
}

#ten {
  margin-right: 20px;
  margin-top: 5px;
  align-self: flex-start;
}

.output-container {
  display: flex;
  align-items: flex-end;
  margin: 0px 20px;
}

.icon-button {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CECFDA;
  color: black;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}